
.logout-form{
    display: none;
}
th, td{
    padding: .1rem .2rem;
    text-align: center;
}
.close-table-employees{
    position: fixed;
    top: .2rem;
    right: .2rem;
    text-align: center;
    line-height: 1rem;
    background-color: tomato;
    border: 1px solid #000;
    border-radius: 50%;
}
.btn-employer{
    text-align: center;
    width: 4.5rem;
    font-size: .8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.table-employers{
    width: 80%;
    margin: 1rem  auto 0;
}
.table-modal-employees{
    display: none;
    z-index: 1000;
    position: absolute;
    top: 30vh;
    left: 50%;
    width: 20rem;
    height: 30vh;
    transform: translateX(-50%);
    margin: 0 auto;
    background-color: gray;
}
.overflow-table{
    height: 70%;
    overflow-y: scroll;
}
.table-employees{
    width: 80%;
    margin: 0 auto;
}
.table-employers tr:hover{
    border-color: #1c7430;
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}
.pagination{
    margin: 1rem auto 5rem;
    width: 50vw;
}
.pagination div {
    background-color: #53da72;
    color: #000;
    border-color: #1c7430;
    padding: .1rem .6rem;
    margin: .1rem .2rem;
    border-radius: 10px;
}
.pagination div:hover{
    color: #fff;
    background-color: #1c7430;
    border-color: #1c7430;
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}
.pagination div a{
    color: whitesmoke;
}
.pagination div a:hover{
    color: #000;
}